<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>ユーザ情報の変更</title>
</head>
<body>

	<span th:replace="menu"></span>

	<hr>

	<h3>ユーザ情報の変更</h3>

	<span th:text="${message}" style="color:rgb(255, 218, 4)"></span>

	<form action="/editUser" method="post">
		<table>
		<tr>
			<td>ユーザ名</td>
			<td>
				<input type="text" name="name" th:value="${name}">
				<span th:text="${message2}" style="color:rgb(255, 218, 4)"></span>
			</td>
		</tr>
		<tr>
			<td>性別</td>
			<td>
				<input type="radio" name="gender" value="男" th:checked="${gender == '男'}">男
				<input type="radio" name="gender" value="女" th:checked="${gender == '女'}">女
				<input type="radio" name="gender" value="その他" th:checked="${gender == 'その他'}">その他
			</td>
		</tr>
		<tr>
			<td>年代</td>
			<td>
				<select name="age">
					<option value="0~9歳" th:selected="${age == '0~9歳'}">0~9歳</option>
					<option value="10代" th:selected="${age == '10代'}">10代</option>
					<option value="20代" th:selected="${age == '20代'}">20代</option>
					<option value="30代" th:selected="${age == '30代'}">30代</option>
					<option value="40代" th:selected="${age == '40代'}">40代</option>
					<option value="50代" th:selected="${age == '50代'}">50代</option>
					<option value="60代" th:selected="${age == '60代'}">60代</option>
					<option value="70代~" th:selected="${age == '70代~'}">70代~</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>メールアドレス</td>
			<td>
				<input type="text" name="email" th:value="${email}">
				<span th:text="${message1}" style="color:rgb(255, 218, 4)"></span>
			</td>
		</tr>
		<tr>
			<td>パスワード</td>
			<td><input type="text" name="password" th:value="${password}"></td>
		</tr>
		</table>
		<input type="submit" value="変更">
	</form>
	<br>
<a class="a1" href="/myPage">キャンセル</a>

</body>
</html>