<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>ヘルプ</title>
<style>

	span{
	font-size: 150%;
	}

</style>
</head>
<body>
	<span th:replace="menu"></span>

	<h1>ヘルプ</h1>
	<hr>

	<h1>Q&A</h1>
	<br>
		<table class="table1">
		<tr>
			<td align="left">
				　Q　<span th:text= "${HelpInfo.q}"></span>
			</td>
		</tr>
		<tr><td></td></tr>
		<tr>
			<th align="left">
				　A　<span th:text="${HelpInfo.a}"></span>
			</th>
		</tr>
	</table>
	<img src="/images/woman1.png" width="200" height="150">

<br>
<br>
<a class="a1" href="/help">ヘルプ一覧へ戻る</a>
</body>
</html>