<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>ヘルプ</title>
<style>
	h2{
	font-size: 200%;
	}
	a{
	color:white;
	font-size: 130%;
	}

</style>
</head>
<body>
<span th:replace="menu"></span>
<h1>ヘルプ</h1>
<hr>
<h2>Q&A</h2>

<div th:each="help:${quetionlist}" >
	<a th:href="'/helpAnswer/' + ${help.code}" >
		・<span  th:text = "${help.q}"></span>
	</a>
<br>
<br>
</div>
<br>
<br>
<br>
<a  class="a1" href="/toiawase">お問い合わせ</a>はこちらから
</body>
</html>
