<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>管理者ページ</title>
</head>
<body>
	<span th:replace="kmenu"></span>
	<h1>Q&A追加登録</h1>
	<hr>

	<form action="/kaddQA" method="post">
		<table class="table1">
		<tr>
			<td>Q:</td>
			<td>
				<input type="text" name="q" th:value="${q}" size="100" placeholder="100文字以内で入力">

			</td>
		</tr>
		<tr>
			<td>A:</td>
			<td>
				<textarea name="a" th:text="${a}" cols="100" rows="10" placeholder="500文字以内で入力" maxlength="500">
			</textarea>
			</td>
		</tr>
		</table>
		<br>
		<input type="submit" value="登録" style="padding:5px;font-size:15px;">
	</form>
	<span th:text="${message}" style="color:rgb(255, 218, 4)"></span><br>

	<hr>
	<h3>Q&A一覧</h3>

		件数：<span th:text="${helpsSize}"></span><br>

		<table class="table1" border="1">
	<tr>
		<th>No</th><th>Q</th><th>A</th><th></th>
	</tr>
	<tr th:each="h:${helps}">
		<td th:text="${h.code}"></td>
		<td th:text="${h.q}"></td>
		<td th:text="${h.a}"></td>
		<td><a class="a7" th:href="'/kaddQA/delete/' + ${h.code}">削除</a></td>
	</tr>
	</table>


</body>
</html>