<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>管理者ページ</title>
</head>
<body>
	<span th:replace="kmenu"></span>
	<h1>ジャンル追加登録</h1>
	<hr>

	件数：<span th:text="${genresSize}"></span><br>

	<form action="/kaddgenre" method="post">
		<table class="table1">
		<tr>
			<td>ジャンル名入力</td>
			<td>
				<input name="genre" type="text">
			</td>
		</tr>
		</table>
		<br>
		<input type="submit" value="登録" style="padding:5px;font-size:15px;">
	</form>
	<span th:text="${message}" style="color:rgb(255, 218, 4)"></span><br>

	<hr>
	<h3>ジャンル一覧</h3>
		<table class="table1" border="1">
	<tr>
		<th>ジャンルコード</th><th>ジャンル名</th>
	</tr>
	<tr th:each="g:${session.genres}">
		<td th:text="${g.genrecode}"></td>
		<td th:text="${g.genre}"></td>
	</tr>
	</table>


</body>
</html>