<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>管理者ログイン</title>
</head>
<body>
	<h1>管理者ログイン</h1>
	<hr>

	1つ目のパスワードを入力<br>
	<form action="/klogin1" method="post">
		<input type="password" name="password1" placeholder="パスワード"><br>
		<input type="submit" value="次へ">
		<br>
	</form>

	<span th:text="${message}" style="color:rgb(255, 218, 4)"></span><br>

	<a class="a1" href="/">トップに戻る</a>

</body>
</html>