<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>管理者ログイン</title>
</head>
<body>
	<h1>管理者ログイン</h1>
	<hr>

	2つ目のパスワードを入力<br>
	<form action="/klogin2" method="post">
	<input type="hidden" name="password1" th:value="${password1}">
		<input type="password" name="password2" placeholder="2つ目のパスワード"><br>
		<br>
		<input type="submit" value="ログイン" style="padding:5px;font-size:15px;">
		<br>
	</form>

	<br>

	<a class="a1" href="/">トップに戻る</a>

</body>
</html>