<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>管理者ページ</title>
</head>
<body>
	<span th:replace="kmenu"></span>
	<h1>映画一覧</h1>
	<hr>

	<a class="a3" href="/kgenres">ジャンルの追加</a>　
	<a class="a3" href="/kmovie/add">映画の追加</a>
	<hr>
	<span th:text="${message}" style="color:rgb(255, 218, 4)"></span><br>
	件数：<span th:text="${moviesSize}"></span><br>

	<table class="table1" border="1">
	<tr>
		<th>No</th><th>タイトル</th><th>評価</th><th>ジャンル</th><th>放送時間</th><th>邦画/洋画</th><th>制作年</th>
	</tr>
	<tr th:each="movie:${movies}">
		<td th:text="${movie.moviecode}"></td>
		<td th:text="${movie.title}"></td>
		<td th:text="${movie.viewTotalEvaluation}"></td>
		<td th:text="${movie.genre}"></td>
		<td><span th:text="${movie.time}"></span>分</td>
		<td th:text="${movie.country}"></td>
		<td><span th:text="${movie.year}"></span>年</td>
		<td><a class="a7" th:href="'/kmovie/delete/' + ${movie.moviecode}">削除</a></td>
	</tr>
	</table>
</body>
</html>