<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>管理者ページ</title>
</head>
<body>
	<span th:replace="kmenu"></span>
	<h1>ユーザ一覧</h1>
	<hr>

	件数：<span th:text="${usersSize}"></span><br>

	<table class="table1" border="1">
	<tr>
		<th>ユーザコード</th><th>ユーザ名</th><th>性別</th><th>年代</th><th>メールアドレス</th><th>パスワード</th>
	</tr>
	<tr th:each="k:${users}">
		<td th:text="${k.usercode}"></td>
		<td th:text="${k.name}"></td>
		<td th:text="${k.gender}"></td>
		<td th:text="${k.age}"></td>
		<td th:text="${k.email}"></td>
		<td th:text="${k.password}"></td>
	</tr>
	</table>
</body>
</html>