<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>映画一覧</title>
</head>
<body>
	<span th:replace="menu"></span>
	<span th:replace="moviessearch"></span>

	<h1>映画一覧</h1>


	<a class="asort" th:href="'/movies/search?keyword=' +${keyword} +'&genre='+ ${genre}+'&country='+ ${country} + '&sort=year'">
		<span class="sort">
			<img src="/images/sortyear.png" width="180" height="80" alt="制作年で並び替え">
		</span>
	</a>
		<a class="asort" th:href="'/movies/search?keyword=' +${keyword} +'&genre='+ ${genre}+'&country='+ ${country} + '&sort=title'">
		<span class="sort">
			<img src="/images/sorttitle.png" width="180" height="80" alt="タイトルで並び替え">
		</span>
	</a>

	<br>

	件数：<span th:text="${moviesSize}"></span><br>

	<table border="1">
	<tr>
		<th>タイトル</th><th>評価</th><th>ジャンル</th><th>放送時間</th><th>邦画/洋画</th><th>制作年</th>
	</tr>
	<tr th:each="movie:${movies}">
		<td><a th:href="'/reviews/'+${movie.moviecode}" ><span th:text="${movie.title}"></span></a></td>
		<td th:text="${movie.totalEvaluation}"></td>
		<td th:text="${movie.genre}"></td>>
		<td><span th:text="${movie.time}"></span>分</td>
		<td th:text="${movie.country}"></td>
		<td><span th:text="${movie.year}"></span>年</td>
	</tr>
	</table>

</body>
</html>