<h3>映画検索</h3>
<table>
	<form action="/movies/search" method="get">
	<tr>
		<td><input type="text" name="keyword" placeholder="キーワードで探す"  th:value="${keyword}"></td>
		<td>
			<select name="genre">
				<option value="">ジャンルで探す</option>
				<option value="アニメ" th:selected ="${genre == 'アニメ'}">アニメ</option>
				<option value="サスペンス" th:selected ="${genre == 'サスペンス'}">サスペンス</option>
				<option value="ドラマ" th:selected ="${genre == 'ドラマ'}">ドラマ</option>
			</select>
		</td>
		<td>
			<select name="country">
				<option value="" >邦画/洋画</option>
				<option value="邦画" th:selected ="${country == '邦画'}">邦画</option>
				<option value="洋画" th:selected ="${country == '洋画'}">洋画</option>
			</select>
		</td>
		<td><input type="submit" value="検索"></td>
	</tr>
	</form>
</table>
<hr>
<a th:href="'/movies/search?keyword=' +${keyword} +'&genre='+ ${genre}+'&country='+ ${country} + '&sort=year'">制作年で並び替え</a>
<a href="/movies/search?keyword=&genre=&country=&sort=title">タイトルで並び替え</a>