映画検索<br>
<table class="table1">
	<form action="/movies/search" method="get">
	<tr>
		<td><input type="text" name="keyword" placeholder="キーワードで探す"  th:value="${keyword}"></td>
		<td>
			<select name="genre" >
				<option value="">ジャンルで探す</option>
				<option th:each="g:${session.genres}" th:value="${g.genre}" th:selected="${genre == g.genre}">
				<span th:text="${g.genre}"></span>
				</option>
			</select>
		</td>
		<td>
			<select name="country">
				<option value="" th:selected ="${country == ''}">邦画/洋画</option>
				<option value="邦画" th:selected ="${country == '邦画'}">邦画</option>
				<option value="洋画" th:selected ="${country == '洋画'}">洋画</option>
			</select>
		</td>
		<td><input type="submit" value="検索" style="padding:5px;font-size:15px;"></td>
	</tr>
	</form>
</table>
<hr>
