<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>マイページ</title>
</head>
<style>
	.table1{font-size: 130%;}
	.table1 td{
	text-align: center;
	}
	.table1 th{
	text-align: left;
	}

	a:link {
		color: #ffffff;
		font-size: 150%;
		}
	a:visited {
		color: #ffffff;
		font-size: 150%;
		}
	a:hover {
		color: #ff0000;
		font-size: 150%;
		}
	a:active {
		color: #ff8000;
		font-size: 150%;
		}



</style>
<body>
	<span th:replace="menu"></span>
	<span th:replace="moviessearch"></span>

	<h1>マイページ</h1>

<table class="table1">
	<tr>
		<td>ユーザ名：</td>
		<th th:text="${session.userInfo.name}"></th>
	</tr>
	<tr>
		<td>性別：</td>
		<th th:text="${session.userInfo.gender}"></th>
	</tr>
	<tr>
		<td>年代：</td>
		<th th:text="${session.userInfo.age}"></th>
	</tr>
	<tr>
		<td>メールアドレス：</td>
		<th th:text="${session.userInfo.email}"></th>
	</tr>
	<tr>
		<td>今までにレビューした本数：</td>
		<th align="left" th:text="${session.reviewsSize}"></th>
	</tr>
</table>



<table class="table2">
	<tr>
		<th>●<a class="a6" href="/myReviews">マイレビュー</a></th>
	</tr>
	<tr>
		<th>●<a class="a6" href="/review/wrrite">新規レビュー作成</a></th>
	</tr>
	<tr>
		<th>●<a class="a6" href="/editUser">ユーザ情報編集</a></th>
	</tr>
	<tr>
		<th>●<a class="a6" href="/logout">ログアウト</a></th>
	</tr>
	<tr>
		<th>●<a class="a6" href="/deleteUser">退会</a></th>
	</tr>
</table>
	<div>
		<br>
		<br>
		<br>
		<br>
	</div>

	<br>
	<br>




</body>
</html>