<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>マイページ</title>
</head>
<body>
	<span th:replace="menu"></span>
	<span th:replace="moviessearch"></span>

	<h1>マイページ</h1>

<table>
	<tr>
		<th>ユーザ名：</th>
		<td th:text="${session.userInfo.name}"></td>
	</tr>
	<tr>
		<th>性別：</th>
		<td th:text="${session.userInfo.gender}"></td>
	</tr>
	<tr>
		<th>年代：</th>
		<td th:text="${session.userInfo.age}"></td>
	</tr>
	<tr>
		<th>メールアドレス：</th>
		<td th:text="${session.userInfo.email}"></td>
	</tr>
	<tr>
		<th>今までにレビューした本数：</th>
		<td th:text="${session.reviewsSize}"></td>
	</tr>
</table>


	<ul>
		<li><a class="a1" href="/myReviews">マイレビュー</a></li>
		<li><a class="a1" href="/review/wrrite">新規レビュー作成</a></li>
		<li><a class="a1" href="/editUser">ユーザ情報編集</a></li>
		<li><a class="a2" href="/logout">ログアウト</a></li>
	</ul>

	<br>
	<br>
	<a class="a1" href="/movies">映画一覧に戻る</a>




</body>
</html>