<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>マイレビュー</title>
</head>
<body>


<span th:replace="menu"></span>
<span th:replace="moviessearch"></span>


<h1>マイレビュー</h1>
件数：<span th:text="${reviewsSize}"></span>
//ここに並べ替え用の記述
<table border="1">
	<tr>
		<th>タイトル</th>
		<th>評価</th>
		<th>日付</th>
		<th>レビュータイトル</th>
		<th>レビュー本文</th>
	</tr>
	<tr th:each="review:${reviews}">
		<td th:text="${review.movieTitle}"></td>
		<td th:text="${review.evaluation}"></td>
		<td th:text="${review.date}"></td>
		<td th:text="${review.title}"></td>
		<td th:text="${review.text}"></td>
	</tr>
</table>

</body>
</html>