<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>マイレビュー</title>
</head>
<style>
	.a5:link {color: rgb(171, 171, 171);font-size: 110%;}
	.a5:visited {color: rgb(171, 171, 171);font-size: 110%;}
	.a5:hover {color: #ff0000;font-size: 110%;}
	.a5:active {color: #ff8000;font-size: 110%;}

	.a4:link {color: rgb(20, 20, 20);font-size: 110%;}
	.a4:visited {color: rgb(20, 20, 20);font-size: 110%;}
	.a4:hover {color: #ff0000;font-size: 110%;}
	.a4:active {color: #ff8000;font-size: 110%;}

</style>
<body>


<span th:replace="menu"></span>
<span th:replace="moviessearch"></span>


<h1>マイレビュー</h1>

件数：<span th:text="${reviewsSize}"></span>
<br>

<a class="a3" href="/review/wrrite">新規レビュー作成</a>
<br>

<table  class="table1" border="1">
	<tr>
		<th>タイトル</th>
		<th>評価</th>
		<th>日付</th>
		<th>レビュータイトル</th>
		<th>レビュー本文</th>
		<th></th>

	</tr>
	<tr th:each="review:${reviews}">
		<td><a class="a4" th:href="'/reviews/'+${review.moviecode}" ><span th:text="${review.movieTitle}"></span></a></td>
		<td th:text="${review.evaluation}"></td>
		<td th:text="${#dates.format(review.date, 'yyyy/MM/dd')}"></td>
		<td th:text="${review.title}"></td>
		<td th:text="${review.text}"></td>
		<td>
			<a class="a4" th:href="'/review/edit/' + ${review.reviewcode}">編集</a>
			<a class="a5" th:href="'/review/delete/' + ${review.reviewcode}">削除</a>
		</td>
	</tr>
</table>

</body>
</html>