<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>映画詳細・レビュー</title>
</head>
<style type="text/css">

	.movieTitle{
		color: #ff0000;
		font-size: 250%;
	 }

	a{
		font-size:120%;
	}

	div.right{
	  text-align: right;
	  margin-left: 5%;
	  margin-right: 5%;
	}


</style>
<body>

<span th:replace="menu"></span>
<span th:replace="moviessearch"></span>
<br>
<br>
<div class="movieInfo">
<table align="center">
<tr>
	<td colspan="5"><span class="movieTitle" th:text="${movieInfo.title}"></span></td><tr>
	<td rowspan="7"><img th:src="'/images/' + ${genrecode} +'.png'" width="200" height="150"></td><tr>
	<th>評価：</th>
	<td>
		<span th:replace="totalEvaluation"></span>
		(<span th:text="${movieInfo.viewTotalEvaluation}"></span>)
	</td><tr>
	<td><td><span th:text="${movieInfo.country}"></span></td><tr>
	<th>ジャンル：</th><td><span th:text="${movieInfo.genre}"></span></td><tr>
	<th>サブジャンル:</th><td><span th:each ="selectgenre:${selectgenres}" th:text="${selectgenre.genre}"></span></td><tr>
	<th>上映時間：</th><td><span th:text="${movieInfo.time}"></span></td><th>分</th><tr>
	<th>制作年：</th><td><span th:text="${movieInfo.year}"></span></td><th>年</th><tr>
</table>
</div>


<table align="center">
<tr>
<th colspan="3"><p>気になったら見てみよう！<p></th>
</tr>
<tr>
	<td><a class="a1" href="https://www.netflix.com/jp/">NETFLIXで探す</a></td>
	<td>　　　</td>
	<td><a class="a1" href="https://www.tohotheater.jp/">TOHOシネマで探す</a></td>
</tr>
</table>
<br>


<div class="right">
	件数：<span th:text="${reviewsSize}"></span>　
	<a class="a3" th:href="'/review/wrrite/' + ${movieInfo.moviecode}">新規レビュー作成</a>
</div>

<br>

<section class="Rcard" th:each="review:${reviews}">
	<div class="Rmidashi">
	<span>
		<span class="Revaluation">
			<span th:if="${review.evaluation == 1}"><font color="red">★　　　　</font></span>
			<span th:if="${review.evaluation == 2}"><font color="red">★★　　　</font></span>
			<span th:if="${review.evaluation == 3}"><font color="red">★★★　　</font></span>
			<span th:if="${review.evaluation == 4}"><font color="red">★★★★　</font></span>
			<span th:if="${review.evaluation == 5}"><font color="red">★★★★★</font></span>
		</span>
		<span class="Rtitle" th:text="${review.title}"></span>　
		<span class="Ruser">
			<span th:text="${review.name}"></span>
			<span th:text="${review.age}"></span>
			<span th:text="${review.gender}"></span>
		</span>　
		<span class="Rdate" th:text="${#dates.format(review.date, 'yyyy/MM/dd')}"></span>
	</span>
	</div>
	<hr>

	<div class="Rtext" th:text="${review.text}"></div>
</section>


</body>
</html>