<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>新規レビュー入力内容確認</title>
</head>
<body>

	<span th:replace="menu"></span>
	<span th:replace="moviessearch"></span>

	<h1>新規レビュー入力内容確認</h1>

	この内容でレビューを投稿しますか？

	<table class="table1">
		<tr>
			<th>ユーザ名：</th>
			<td th:text="${session.userInfo.name}"></td>
		</tr>
		<tr>
			<th>性別：</th>
			<td th:text="${session.userInfo.gender}"></td>
		</tr>
		<tr>
			<th>年代：</th>
			<td th:text="${session.userInfo.age}"></td>
		</tr>
		<tr>
			<th>映画タイトル：</th>
			<td th:text="${movietitle}"></td>
		</tr>
		<tr>
			<th>評価：</th>
			<td>
				<span th:if="${evaluation == 1}"><font color="red">★</font></span>
				<span th:if="${evaluation == 2}"><font color="red">★★</font></span>
				<span th:if="${evaluation == 3}"><font color="red">★★★</font></span>
				<span th:if="${evaluation == 4}"><font color="red">★★★★</font></span>
				<span th:if="${evaluation == 5}"><font color="red">★★★★★</font></span>
			</td>
		</tr>
		<tr>
			<th>日付：</th>
			<td th:text="${date}"></td>
		</tr>
		<tr>
			<th>レビュータイトル：</th>
			<td th:text="${title}"></td>
		</tr>
		<tr>
			<th>レビュー本文：</th>
			<td th:utext="${text}"></td>
		</tr>
	</table>

	<form action="/review/wrrite/kanryou" method="post">
		<input type="hidden" name="movietitle" th:value="${movietitle}">
		<input type="hidden" name="evaluation" th:value="${evaluation}">
		<input type="hidden" name="title" th:value="${title}">
		<input type="hidden" name="text" th:value="${text}">
		<input type="submit" value="完了">
	</form>

	<form action="/review/wrrite" method="post">
		<input type="hidden" name="movietitle" th:value="${movietitle}">
		<input type="hidden" name="evaluation" th:value="${evaluation}">
		<input type="hidden" name="title" th:value="${title}">
		<input type="hidden" name="text" th:value="${text}">
		<input type="submit" value="編集に戻る">
	</form>





</body>
</html>