<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>新規レビュー作成</title>
</head>
<body>

	<span th:replace="menu"></span>
	<span th:replace="moviessearch"></span>

	<h1>新規レビュー作成</h1>

	<span th:text="${message}" style="color:rgb(255, 218, 4)"></span>

	<form action="/review/wrrite" method="post">
	<table class="table1">
		<tr>
			<th>映画タイトル</th>
			<td>
				<select name="movietitle" >
					<option th:each="movie:${movies}" th:value="${movie.title}" th:selected="${movietitle == movie.title}">
						<span th:text="${movie.title}"></span>
					</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>評価</th>
			<td>
				<select name="evaluation">
					<option value="1" th:selected="${1 == evaluation}">1</option>
					<option value="2" th:selected="${2 == evaluation}">2</option>
					<option value="3" th:selected="${3 == evaluation}">3</option>
					<option value="4" th:selected="${4 == evaluation}">4</option>
					<option value="5" th:selected="${5 == evaluation}">5</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>日付</th>
			<td>
				<span th:text="${date}"></span>
				<input type="hidden" name="date" th:value="${date}">
			</td>
		</tr>
		<tr>
			<th>レビュータイトル</th>
			<td>
				<input type="text" name="title" th:value="${title}" placeholder="30文字以内で入力してください" maxlength="30" size="58">
			</td>
		</tr>
		<tr>
			<th>レビュー本文</th>
			<td>
				<textarea name="text" th:text="${text}" cols="100" rows="20" placeholder="1000文字以内で入力してください" maxlength="1000">
				</textarea>
			</td>
		</tr>
	</table>
	<input type="submit" value="確認画面へ">
	</form>


</body>
</html>