<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>映画詳細・レビュー</title>
</head>
<body>

<span th:replace="menu"></span>


<h1>映画詳細//ここは選択した映画のタイトル</h1>

//ここに映画詳細


<br>

<h2>レビュー一覧</h2>
//ここに並び替え表示用のform
<br>
<table border="1">
	<tr>
		<th>評価</th>
		<th>日付</th>
		<th>レビュータイトル</th>
		<th>レビュー本文</th>
	</tr>
	<tr th:each="review:${reviews}">
		<td th:text="${review.evaluation}"></td>
		<td th:text="${review.date}"></td>
		<td th:text="${review.title}"></td>
		<td th:text="${review.text}"></td>
	</tr>
</table>
</body>
</html>