<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>映画詳細・レビュー</title>
</head>
<style type="text/css">

.movieTitle{
	color: #ff8000;
	font-size: 70px;
 }

</style>
<body>

<span th:replace="menu"></span>
<span th:replace="moviessearch"></span>

<div class="movieInfo">
	<span th:text="${movieInfo.title}"></span><br>
	<span th:text="${movieInfo.country}"></span><br>
	ジャンル：<span th:text="${movieInfo.genre}"></span><br>
	上映時間：<span th:text="${movieInfo.time}"></span>分<br>
	制作年：<span th:text="${movieInfo.year}"></span>年<br>
</div>

<br>

<h1>レビュー一覧</h1>
件数：<span th:text="${reviewsSize}"></span>
<br>

<a class="a3" th:href="'/review/wrrite/' + ${movieInfo.moviecode}">新規レビュー作成</a>
<br>

<table border="1">
	<tr>
		<th>評価</th>
		<th>ユーザー名</th>
		<th>性別</th>
		<th>年代</th>
		<th>レビュータイトル</th>
		<th>レビュー本文</th>
		<th>日付</th>

	</tr>
	<tr th:each="review:${reviews}">
		<td th:text="${review.evaluation}"></td>
		<td th:text="${review.name}"></td>
		<td th:text="${review.gender}"></td>
		<td th:text="${review.age}"></td>
		<td th:text="${review.title}"></td>
		<td th:text="${review.text}"></td>
		<td th:text="${#dates.format(review.date, 'yyyy/MM/dd')}"></td>

	</tr>
</table>
</body>
</html>