<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>お問い合わせ</title>
<style>
	a{
	color:white;
	font-size:120%;
	}
</style>
</head>
<body>
<span th:replace="menu"></span>
<h1>お問い合わせ</h1>
<hr>
<br>
<br>
<form action="/toiawase/gudge" method="post">
<span th:text="${message}" style="color:rgb(255, 218, 4)"></span>
<br>
<table class="table1">
	<tr>
		<th>お問い合わせ内容</th>
		</tr>
		<tr>
		<td><input type="text" name="title" th:value="${title}" placeholder="タイトル30文字以内で入力してください" maxlength="30" size="58"></td>
		</tr>
		<tr>
		<td>
			<textarea name="text" th:text="${text}" cols="100" rows="10" placeholder="500文字以内で入力してください" maxlength="500">
			</textarea>
		</td>
	</tr>
</table>
<br>
<br>
<input type="submit"  value="確認画面へ"  style="padding:5px;font-size:15px;">
</form>
<br>
<a href="/help">ヘルプ一覧に戻る</a>
<br>
<br>
<a href="/movies">映画一覧に戻る</a>
</body>
</html>