<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>お問い合わせ完了</title>
<style>
	a{
	color:white;
	font-size:120%;
	}

</style>
</head>
<body>
<span th:replace="menu"></span>
<h1>お問い合わせ内容送信完了</h1>
<hr>
<br>
<br>
<br>
<table class="table1" border="1">
		<tr><th colspan="2">お問い合わせ内容</th></tr>
		<tr>
			<th>タイトル</th>
			<td th:text="${title}"></td>
		</tr>
		<tr>
			<th>お問い合わせ内容</th>
			<td th:text="${text}"></td>
		</tr>
</table>
<br>
<span th:text="${message1}" style="color:rgb(255, 218, 4)"></span>

<span th:text="${message2}" style="color:rgb(255, 218, 4)"></span>
<br>
<br>
<br>
<a href="/help">ヘルプ一覧に戻る</a>
<br>
<br>
<a href="/movies">映画一覧に戻る</a>
</body>
</html>