<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>お問い合わせ確認</title>
<style>
	div{
	font-size:120%;
	}
</style>
</head>
<body>
<span th:replace="menu"></span>
<h1>お問い合わせ内容確認</h1>
<hr>
<br>
<br>
<div>この内容で宜しいでしょうか？</div>
<br>
<table class="table1">
<tr><th>お問い合わせ内容</th></tr>
		<tr>
			<th>タイトル：</th>
			<td th:text="${title}"></td>
		</tr>
		<tr>
			<th>お問い合わせ内容：</th>
			<td th:text="${text}"></td>
		</tr>
</table>
<br>
<table align="center">
<tr>
<td><form action="/toiawaseKanryou" method="post">
<input type="submit" value="完了" style="padding:5px;font-size:15px;">
<input type="hidden" name="title" th:value="${title}">
<input type="hidden" name="text" th:value="${text}">
</form>
</td>
<td>
<form action="/toiawase" method="post">
<input type="submit" value="編集に戻る" style="padding:5px;font-size:15px;">
<input type="hidden" name="title" th:value="${title}">
<input type="hidden" name="text" th:value="${text}">
</form>
</td>
</tr>
</table>
<br>
<br>
<a class="a1" href="/help">Q&A一覧に戻る</a>
</body>
</html>