<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>お問い合わせ内容確認</h1>
<br>
<br>
<br>
<div>この内容で宜しいでしょうか？</div>
<br>
<br>
<table border="1">
<tr><th>お問い合わせ内容</th></tr>
		<tr>
			<th>タイトル：</th>
			<td th:text="${title}"></td>
		</tr>
		<tr>
			<th>お問い合わせ内容：</th>
			<td th:text="${text}"></td>
		</tr>
</table>
<form action="/toiawaseKanryou" method="post">
<input type="submit" value="完了">
<input type="hidden" name="title" th:value="${title}">
<input type="hidden" name="text" th:value="${text}">
</form>

<form action="/toiawase" method="post">
<input type="submit" value="編集に戻る">
<input type="hidden" name="title" th:value="${title}">
<input type="hidden" name="text" th:value="${text}">
</form>
</body>
</html>