<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">
<title>お問い合わせ完了</title>
<style>


</style>
</head>
<body>
<span th:replace="menu"></span>

<h1>ヘルプ</h1>
<hr>


<h1>お問い合わせ内容送信完了</h1>
<br>
<br>
<table class="table1">
		<tr>
			<th>タイトル：</th>
			<td th:text="${title}"></td>
		</tr>
		<tr>
			<th>お問い合わせ内容：</th>
			<td th:text="${text}"></td>
		</tr>
</table>

<span th:text="${message1}" style="color:rgb(255, 218, 4)"></span><br>
<span th:text="${message2}" style="color:rgb(255, 218, 4)"></span><br>

<br>
<a class="a1" href="/help">Q&A一覧に戻る</a>
</body>
</html>