@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');


body{
	/*background-color: rgb(20, 20, 20)*/
	min-height: 100%;
	background-image:url("/images/curtain.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	/*font-size: 20px;*/
	color: rgb(247, 247, 247);
	font-family:'Sawarabi Gothic';
  	text-align: center;
}

.table1{
	background-color: rgb(247, 247, 247);

	color:rgb(20, 20, 20);

	margin-left: auto;
    margin-right: auto;
}

.table2{
	color:rgb(247, 247, 247);

	margin-left: auto;
    margin-right: auto;
}




.sort{
	position: relative;
}

.asort:active {
	box-shadow: 0 10px 10px #666666; /* 影（[右][下][ぼかし][影の色]）を指定する */
}


.movieInfo{
	background-color: rgb(247, 247, 247);

	color:rgb(20, 20, 20);


	margin-left: auto;
    margin-right: auto;
}

.menu{
	background-color:#000000;

}



.a1:link { color: #ffffff;font-size: 130%; }
.a1:visited { color: #ffffff;font-size: 130%; }
.a1:hover { color: #ff0000; font-size: 130%;}
.a1:active { color: #ff8000;font-size: 130%; }

.a2:link { color: rgb(171, 171, 171);font-size: 130%; }
.a2:visited { color: rgb(171, 171, 171); font-size: 130%;}
.a2:hover { color: #ff0000; font-size: 130%;}
.a2:active { color: #ff8000; font-size: 130%;}

.a4:link {color: rgb(20, 20, 20);font-size: 100%;}
.a4:visited {color: rgb(20, 20, 20);font-size: 100%;}
.a4:hover {color: #ff0000;font-size: 100%;}
.a4:active {color: #ff8000;font-size: 100%;}

.a1{
  position: relative;
}
.a1::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #ff0000;
  transition: .3s;
  transform: translateX(-50%);
}
.a1:hover::after{
  width: 100%;
}

.a2{
  position: relative;
}
.a2::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #ff0000;
  transition: .3s;
  transform: translateX(-50%);
}
.a2:hover::after{
  width: 100%;
}

.a4{
  position: relative;
}
.a4::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #ff0000;
  transition: .3s;
  transform: translateX(-50%);
}
.a4:hover::after{
  width: 100%;
}



.a6{
  padding: 0 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(20, 20, 20) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
}

.a6:hover{
  background-position: -100% 0;
  color: #ff0000;
}






.a3 {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #ffffff ;
  background: rgb(20, 20, 20)  ;/*背景色*/
  border-bottom: solid 3px rgb(122, 114, 173);/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}
.a3:visited {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #ffffff ;
  background: rgb(20, 20, 20) ;/*背景色*/
  border-bottom: solid 3px rgb(122, 114, 173);/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}
.a3:hover {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #ff0000;/*背景色*/
  border-bottom: solid 3px #ff8000;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}
.a3:active {
  border-bottom: solid 2px rgb(128, 128, 255);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.a7 {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: rgb(171, 171, 171) ;
  background: rgb(20, 20, 20)  ;/*背景色*/
  border-bottom: solid 3px rgb(122, 114, 173);/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}
.a7:visited {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: rgb(171, 171, 171) ;
  background: rgb(20, 20, 20) ;/*背景色*/
  border-bottom: solid 3px rgb(122, 114, 173);/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}
.a7:hover {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: rgb(171, 171, 171);
  background: #ff0000;/*背景色*/
  border-bottom: solid 3px #ff8000;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}
.a7:active {
  border-bottom: solid 2px rgb(128, 128, 255);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}


.a9 {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: rgb(20, 20, 20) ;
  background: rgb(247, 247, 247)  ;/*背景色*/
  border-bottom: solid 3px rgb(122, 114, 173);/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}
.a9:visited {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: rgb(20, 20, 20) ;
  background: rgb(247, 247, 247) ;/*背景色*/
  border-bottom: solid 3px rgb(122, 114, 173);/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}
.a9:hover {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #ff0000;/*背景色*/
  border-bottom: solid 3px #ff8000;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}
.a9:active {
  border-bottom: solid 2px rgb(128, 128, 255);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.a8 {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: rgb(165, 165, 165) ;
  background: rgb(247, 247, 247)  ;/*背景色*/
  border-bottom: solid 3px rgb(122, 114, 173);/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}
.a8:visited {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: rgb(165, 165, 165) ;
  background: rgb(247, 247, 247) ;/*背景色*/
  border-bottom: solid 3px rgb(122, 114, 173);/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}
.a8:hover {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: rgb(171, 171, 171);
  background: #ff0000;/*背景色*/
  border-bottom: solid 3px #ff8000;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}
.a8:active {
  border-bottom: solid 2px rgb(128, 128, 255);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}


a{
  text-decoration: none;
}



.Rcard {
  /*margin: 30px auto;*/
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5px;
  background-color:rgb(20, 20, 20);
  border-radius: 5px;

}
.Rmidashi {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}
	.Revaluation {
	  font-size: 20px;
	}
	.Rtitle {
	  font-size: 19px;
	}
	.Ruser {
	  font-size: 12px;
 	  color: rgb(171, 171, 171);
	}
	.Rdate {
	  font-size: 12px;
	}
	.Rmovietitle {
	  font-size: 20px;
	}
.Rbottun {
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.Rtext {
  padding: 20px;
  text-align: left;
}


